<div class="row" *ngIf="loading; else spaceShips">
    Loading Spaceships.....
</div>
<ng-template #spaceShips>
    <div class="row">
        <div class="col-2">
            <label for="nameFilter" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameFilter" [(ngModel)]="request.filter.name">
        </div>
        <div class="col-2 mt-4">
            <button type="button" class="btn btn-primary" (click)="loadSpaceships()">Search</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" (click)="sort()" class="selectable">Name</th>
                        <th scope="col">Booster</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Propellant</th>
                        <th scope="col">LEO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let spaceShip of spaceshipPage.content">
                        <td>{{spaceShip.name}}</td>
                        <td>{{spaceShip.booster}}</td>
                        <td>{{spaceShip.weight}}</td>
                        <td> {{spaceShip.propellant?.name}}</td>
                        <td *ngIf="spaceShip.leo; else llo">Yes</td>
                        <ng-template #llo>
                            <td>No</td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="spaceshipPage.totalElements" [(page)]="page" [pageSize]="request.pageSize" (pageChange)="loadSpaceships()">
                </ngb-pagination>
                <select class="custom-select" style="width: auto" [(ngModel)]="request.pageSize" (ngModelChange)="loadSpaceships()">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="5">5 items per page</option>
                    <option [ngValue]="10">10 items per page</option>
                </select>
            </div>
        </div>
    </div>
</ng-template>